
.ui-widget {
    font-size: 90%;
}
.ui-widget .ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 100%;
}
ul li {
    list-style: none;
}

.home_page{ 
    background-image:url("../img/bkg1.jpg");
}
/* MAIN HOME */
.main_home{
    width: 990px;
    height: 500px;
    margin: 90px auto;
    background-image:url("../img/logo_AC_middle.png");
    background-repeat: no-repeat;
    background-position: center 410px;
}
#logo_home{
    background-image:url("../img/logo_lauriers_home.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 990px;
    height: 265px;
}
#form2{
    margin:0 0 0 264px;
}
#form_home{
  background-image: url("../img/form_home.png");
background-repeat: no-repeat;
background-position: center 0;
width: 990px;
}

/* MAIN ABOUT */
.main_about{
    width: 990px;
    height: 500px;
    margin: 90px auto;
    background-image:url("../img/logo_AC_middle.png");
    background-repeat: no-repeat;
    background-position: center 234px;
}
#logo_about{
    background-image:url("../img/logo_lauriers_about.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 990px;
    height: 250px;
}
.main_about p {
    font-size: 13px;
text-align: center;
width: 775px;
margin: 131px auto 0;
}
/* MAIN CREDITS */
.main_credits{
    width: 990px;
    height: 405px;
    margin: 90px auto;
    background-image:url("../img/logo_AC_middle.png");
    background-repeat: no-repeat;
    background-position: center 234px;
}
#logo_credits{
    background-image:url("../img/logo_lauriers_about.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 990px;
    height: 250px;
}
.main_credits p {
    font-size: 13px;
text-align: center;
width: 775px;
margin: 115px auto 0;
}
#humans {
width: 990px;
height: 588px;
margin: 0 auto;
background-image: url("../img/hommes.png");
background-repeat: no-repeat;
background-position: center 0;
}
/* SPECIALS FORM */
input, input[type="password"] {
height: 44px;
text-align: center;
background: none;
border: none;
width: 232px;
font-family: Georgia;
font-size: 14px;
}
#form2 input[type="submit"] {
color: white;
border-radius: 46px;
width: 46px;
box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.25);
background: rgba(0, 0, 0, 0.39);
font-size: 18px;
margin-left: 212px;
cursor: pointer;
}
