/* 
    Document   : progressBar1
    Created on : Nov 2, 2012, 12:39:03 PM
    Author     : C. Levallois
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    /*background-image:url("../img/pb.jpg");*/
}

